@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400&family=Montserrat:wght@300;400&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Open+Sans:wght@300&family=Quicksand:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Ubuntu:wght@300&family=Work+Sans:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito";
    font-weight: 500;
    color: #444;
    scroll-behavior: smooth;
}
.container{
    width: 95%;
    margin: auto;
}

.activeBtn{
    background-color: rgb(215, 235, 34);
    border-radius: 0px 10px;
}
/* RESPONSIVE */
@media (max-width:786px){

    nav ,form .container{
        flex-direction: column;
    }
    nav button , form .container input{
        width: 100%;
    }
    form input[type="submit"] {
        margin-top: 10px;
    }
}

/* HEADER SECTION */
header{
    background-color: rgb(238, 238, 238);
    text-align: center;
    letter-spacing: 2px;
    padding: 15px 0px;
}
header .container h2{
    font-size: 2.3rem;
}
header .container h4{
    font-size: 1.9rem;
}

/* NAVBAR SECTION */
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
nav button{
    flex: 0 0 25%;
    border:none;
    background-color: rgba(119, 119, 119,0.7);
    color: rgb(255, 255, 255);
    padding:  10px;
    font-size: 1.5rem;
}
nav button:hover{
    background-color: rgb(0, 230, 0);
    border-radius: 0px 10px;
    cursor: pointer;
    transition: 0.6s ease;
}

/* MESSAGE SECTION */
ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height:60vh;
    overflow-y:scroll;
    padding: 10px 20px 0px;
}
ul li{
    background-color: rgb(214, 211, 211);
    border-radius: 0px 10px 10px;
    font-size: 1.2rem;
    padding: 15px 20px;
    margin-bottom: 10px;
}
ul li p{
    color: #777;
    font-size: 0.8rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
ul .user {
    align-self: flex-end;
    background-color: rgb(128, 151, 255);
    border-radius: 10px 0px 10px 10px;
    color: white;
}
ul .user p{
    display: flex;
    flex-direction: row-reverse ;
}
ul .user p span, ul .user p i{
    color: white;
}

/* NOTIFICATION SECTION */
.changeUsername {
    display: flex;
    justify-content: flex-start;
}
.changeUsername .notification {
    font-size: 1.2rem;
    background-color: rgb(99, 99, 236);
    padding: 15px 20px;
    border-radius: 10px 10px 10px 0px ;
    color: white;
    margin-bottom: 10px;
    margin-left:20px ;
}
/* FORM SECTION */
form{
    padding: 10px 0px;
    background-color: rgba(119, 119, 119,0.7);
}
#messageForm{
    border-top:2px solid rgba(119, 119, 119,0.5);
}
form .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
form input[type="text"],textarea {
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 5px 10px;
    flex:0 0 70%;
}
form input[type="text"]:focus,textarea:focus {
    outline: none;
    border: 2px solid orange;
}
form input[type="submit"] {
    font-size: 1.2rem;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 230, 0);
    color: white;
    flex:0 0 25%;
}
form input[type="submit"]:hover{
    background-color: rgb(5, 201, 5);
    transition: 0.6s ease
}
form input[type="submit"]:active{
    background-color: green;
}