@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Open+Sans:wght@300&family=Quicksand:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Ubuntu:wght@300&family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400&family=Montserrat:wght@300;400&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Open+Sans:wght@300&family=Quicksand:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Ubuntu:wght@300&family=Work+Sans:wght@300&display=swap");

* {
    --side-w: 350px;
    --head-h: 60px;
    --side-main-h: 550px;
    --side-main-w: 700px;
    --app-h: 610px;
    --app-w: 1050px;
    --form-h: 50px;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    scroll-behavior: smooth;
}

body {
    width: 100svw;
    height: 100svh;

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

.app {
    position: relative;
    width: var(--app-w);
    height: var(--app-h);
    overflow: hidden;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    background-color: #f1f0f0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: var(--head-h);
    background-color: #fff;
    border-bottom: 1px solid #e9e9e9;
}

.header__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.header__content-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header__content-icon:hover {
    background-color: rgba(193, 215, 235, 0.512);
}

.header__content-icon i {
    font-size: 20px;
    color: #777;
}

/*--------------------------------------------------------------
# Aside
--------------------------------------------------------------*/
.aside {
    position: absolute;
    top: var(--head-h);
    left: -350px;
    width: var(--side-w);
    height: var(--side-main-h);
    transition: width 0.2s;
    overflow-y: scroll;
    background-color: #f1f0f0;
    border-right: 1px solid #e9e9e9;
    z-index: 5;
}

.aside.active {
    left: 0;
}

.aside__content {
    height: 100%;
}

.aside__content--top {
    display: flex;
    flex-direction: column;
}

.aside__content--bottom {
}

.aside__content-settings {
    display: flex;
    flex-direction: column;
}

.aside__content-settings-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 10px;
    background-color: #fff;
}

.aside__content-settings--left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.aside__content-settings.active .aside__content-form {
    height: 70px;
}

.aside__content-settings-title {
    font-size: 18px;
}

.aside__content-settings-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #dfebff;
    border-radius: 50%;
}

.aside__content-settings-icon i {
    font-size: 25px;
}

.aside__content-settings-icon span {
    font-size: 20px;
    font-weight: 600;
}

.aside__content-btn-expand {
    border-radius: 50%;
    padding: 3px 8px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.aside__content-btn-expand:hover {
    background-color: rgba(193, 215, 235, 0.512);
}

.aside__content-btn-expand i {
    font-size: 15px;
}

.aside__content-form {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}

.aside__content-input {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0px 10px;
}

.aside__content-input input {
    width: 100%;
    border: none;
    outline: none;
}

.aside__content-input input[type="color"] {
    cursor: pointer;
    padding: 0;
    height: 40px;
    border-radius: 5px;
}

.aside__content-input input[type="color"]::-webkit-color-swatch {
    border-radius: 5px;
    border: none;
}

.aside__content-input input[type="color"]::-moz-color-swatch {
    border-radius: 5px;
    border: none;
}

.aside__content-input input[type="text"] {
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}

.aside__content-input-update {
    outline: none;
    border: none;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    color: #fff;
    background-color: #244220;
}

.aside__content-input-update:hover {
    background-color: #022801;
}

.aside__content-channels-header {
    padding: 10px;
}

.aside__content-channels-title {
    font-size: 18px;
}

.aside__content-list {
    padding: 0px 10px;
}

.channels-list {
    padding: 0;
    margin: 0;
}

.aside__content-list-channel {
    margin: 10px;
    padding: 10px 15px;
    border-radius: 50px;
    background-color: #fff;
    transition: background-color 0.3s;
    cursor: pointer;
}

.aside__content-list-channel.active {
    box-shadow: 0 0 0 3px #cddfff;
}

.aside__content-list-channel:hover {
    box-shadow: 0 0 0 3px #dfebff;
}

/* style when channel is selected  not working*/
.aside__content-list-channel:focus {
    box-shadow: #7faacd 0px 0px 0px 3px;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
.main {
    position: absolute;
    top: var(--head-h);
    left: var(--side-w);
    width: var(--side-main-w);
    height: var(--side-main-h);
    background-color: #f8f7fe;
    transition: left 0.2s;
}

.main.active {
    left: 0;
    width: calc(var(--side-main-w) + var(--side-w));
}

.main__content {
    position: relative;
    height: var(--side-main-h) !important;
}

.main__content--top {
    height: calc(100% - var(--form-h) - 15px);
    overflow: auto;
}

.main__content--top .main__content-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 10px;
}

.main__content-list-chat {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__content-list-chat.right,
.main__content-list-chat.right .main__content-list-chat__item {
    flex-direction: row-reverse;
}
.main__content-list-chat .main__content-list-chat__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
}

.main__content-list-chat .main__content-chat-avatar {
    min-width: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
}

.main__content-list-chat .main__content-chat-avatar span {
    font-size: 18px;
}

.main__content-list-chat .main__content-list-message {
    width: 80%;
    padding: 5px 10px;
    background-color: #dedede;
    border-radius: 0px 15px 20px 15px;
}

.main__content-list-chat.right .main__content-list-message {
    border-radius: 15px 0 15px 20px;
}

.main__content-list-chat .main__content-list-message {
    width: 80%;
    padding: 5px 10px;
    background-color: #edecf3;
}
.main__content-list-chat.right .main__content-list-message {
    width: 80%;
    padding: 5px 10px;
    color: #fff;
    background-color: #318bfa;
}

.main__content-list-message .main__content-list-chat-participant,
.main__content-list-timestamp {
    /* margin-top: 5px; */
    font-size: 12px;
}

.main__content-list-message .main__content-list-chat-text {
    padding: 5px 0px;
}

.main__content-list-chat-icon {
    color: transparent;
    transition: color 0.3s;
}

/* .main__content-list-chat.left .main__content-list-message .main__content-list-chat-icon {
    text-align: right;
}
*/

.main__content-list-chat:hover .main__content-list-chat-icon {
    color: black;
}

.main__content--bottom {
    height: var(--form-h);
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 10px;
    border: 1px solid #e9e9e9;
    overflow: hidden;
}

.main__content-chat-input {
    position: relative;
    height: 100%;
}

.main__content-chat-input input {
    width: 100%;
    resize: none;
    padding: 15px 10px;
    padding-right: 50px;
    outline: none;
    border: none;
}

.main__content-chat-input-send {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 50%;
    bottom: 50%;
    display: flex;
    align-items: center;
    justify-self: center;
    transform: translateY(-50%);
    border-radius: 5px;
    color: #bbb;
}

.main__content-chat-input-send.active {
    color: white;
    background-color: green;
    cursor: pointer;
}

.main__content-chat-input-send i {
    font-size: 20px;
    transform: rotate(45deg);
}

/*--------------------------------------------------------------
# Section Guides
--------------------------------------------------------------*/
.section-guide {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 300svh;
    background-color: #00000089;
    transition: left 0.3s;
    z-index: 100;
}

.section-guide.active {
    right: 0;
    left: 0;
}

.section-guide .section-guide__container {
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: 100%;
}

.section-guide .section-guide__container .swiper {
    width: 100%;
    height: 100%;
}

.section-guide .section-guide__container .swiper-slide {
    border-radius: 18px;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
    background-color: #ede9ff;
    padding: 20px 30px;
    box-shadow: inset 0 0 5px #d3cfe8;
}

.section-guide .section-guide__container .swiper-slide .section-guide__container__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    width: 100%;
    height: 100%;
}

.section-guide .section-guide__container .section-guide__container__item img {
    box-shadow: 0 0 50px #c3c3c3;
    border-radius: 20px;
}

.section-guide .section-guide__container .section-guide__container__item span {
    color: #000c38;
    font-weight: 600;
}

.btn-skip {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 5px 20px;
    border-radius: 50px;
    background-color: #7faacd;
    color: #fff;
}

canvas {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
}

.section-guide__container__item__title {
    position: absolute;
    background: #ede9ff;
    padding: 20px;
}

@media (max-width: 768px) {
    .section-guide .section-guide__container {
        max-width: 370px;
    }

    .section-guide .section-guide__container .swiper-slide {
        font-size: 16px;
        padding: 10 15px;
    }

    .section-guide .section-guide__container .swiper-slide .section-guide__container__item {
        row-gap: 10px;
    }
}
/*--------------------------------------------------------------
# Search Dialog
--------------------------------------------------------------*/
.search-dialog {
    position: absolute;
    top: 10px;
    right: -350px;
    width: 100%;
    max-width: 350px;
    z-index: 5;
    opacity: 0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px;
    transition: right 0.3s, opacity 0.3s;
}

.search-dialog.active {
    right: 10px;
    /* left: 10px; */
    opacity: 1;
}

.search-dialog__body {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    padding: 10px;
}

.search-dialog-input-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.search-dialog-input-type input {
    /* width: 150px; */
    /* color: #444; */
    /* border: 2px solid #aaa; */
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
}

.search-dialog-input-type input:focus {
    /* border-color: #6666a0; */
}

.search-dialog-btn {
    /* border: none; */
    /* border-radius: 50%; */
    padding: 5px 10px;
    border: none;
    /* color: #fff; */
    /* background-color: #7b7bc2; */
    border-radius: 5px;
}

.search-dialog__close {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.search-dialog__close:hover {
    background-color: #dddddd69;
}

/*--------------------------------------------------------------
# NOTIFICATION DIALOG
--------------------------------------------------------------*/
.notification-list {
    position: fixed;
    top: 10px;
    right: 0;
    z-index: 106;
}

.notification-dialog {
    margin-bottom: 10px;
    width: 0;
    max-width: 100svw;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-left: 4px solid #000c38;
    border-radius: 4px;
    box-shadow: 0px 0px 32px 0px #d3cfe8;
    background: #f1f0f7;
    opacity: 0;
}

.notification-dialog.active {
    width: 768px;
    padding: 16px 24px;
    opacity: 1;
    animation-name: dialog-in;
    animation-duration: 0.3s;
}

.notification-dialog__body {
    display: flex;
    align-items: center;
}

.notification-dialog__icon {
    margin-right: 20px;
    font-size: 20px;
    color: #000c38;
}

.notification-dialog__text {
    color: #000c38;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.notification-dialog__close {
    font-size: 16px;
    cursor: pointer;
}

@keyframes dialog-in {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*--------------------------------------------------------------
# Scroll-bar
--------------------------------------------------------------*/

/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

/* Define the styles for the scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
    background-color: #aaa; /* Color of the scrollbar handle */
    border-radius: 6px; /* Radius of the scrollbar handle */
}

/* Define the styles for the scrollbar track when not being hovered */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the scrollbar track */
}

/* Define the styles for the scrollbar handle when being hovered */
::-webkit-scrollbar-thumb:hover {
    background-color: #888; /* Color of the scrollbar handle on hover */
}

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

@media (max-width: 1150px) {
    .app {
        --app-w: 750px;
    }

    .aside {
        --side-w: 250px;
    }

    .main {
        left: 250px;
        --side-main-w: 500px;
    }

    .main.active {
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    body {
        background-color: #f1f0f0 !important;
    }

    .app {
        width: 100%;
        height: 100%;
        border: none;
        margin: 15px;
        background-color: transparent;
    }

    .aside.active,
    .main,
    .main.active {
        height: calc(100% - var(--head-h) - 20px);
        width: 100%;
        top: calc(var(--head-h) + 15px);
        left: 0;
        background-color: #f8f8f8;
    }

    .main,
    .main.active {
        overflow: hidden;
    }

    .header,
    .aside,
    .main {
        border-radius: 10px;
        border: 1px solid #e9e9e9;
    }

    .header {
        top: 10px;
        margin-bottom: 20px;
    }

    .main__content {
        height: 100% !important;
    }

    .search-dialog.active {
        right: 5px;
    }
}

@media (max-width: 480px) {
    .main__content-list-chat {
        width: 100%;
        max-width: 100%;
        font-size: 15px;
    }
}

/* Style color picker */
/* #color {
    overflow: hidden;
    height: 30px;
} */

/*Remove calendar icon*/
/* input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
} */
