@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Open+Sans:wght@300&family=Quicksand:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Ubuntu:wght@300&family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400&family=Montserrat:wght@300;400&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Open+Sans:wght@300&family=Quicksand:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Ubuntu:wght@300&family=Work+Sans:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    font-weight: 500;
    color: #444;
    scroll-behavior: smooth;
}
.container{
    width: 95%;
    margin: auto;
}

.activeBtn{
    background-color: #ece930;
}
/* RESPONSIVE */
@media (max-width:786px){
    .header ul li {
        width: 35%;
    }
    nav ,form .container{
        flex-direction: column;
    }
    nav button , form .container input,textarea{
        width: 100%;
    }
    form input[type="submit"] {
        margin-top: 10px;
    } 
}
/* HEADER SECTION */
.header{
    background-image:linear-gradient(rgba(74, 80, 255, 0.5),rgba(199, 211, 252, 0.5)) ,url("img/slika.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}
.header ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
    padding: 15px;
}
.header ul li{
    margin:0px 10px;
}
.header ul li a{
    color: #eee;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px 15px;
}
.header ul li a:hover{
    border-bottom: 2px solid white;
    text-decoration: none;
}
.header hgroup{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    height: 80vh;
}
.header hgroup h2 {
    font-size: 2.6rem;
    font-weight: 600;
    color: white;
    text-shadow: 0px 0px 10px rgb(243, 243, 243);
    padding-bottom: 10px;
}
.header hgroup h3 {
    font-size:1.8rem;
    color: rgb(247, 247, 247);
    padding-bottom: 15px;
}
.header hgroup .btn {
    border: none;
    padding: 15px 20px;
    font-size: 1rem;
    background-color:rgba(222, 222, 222, 0.6);
    color: white;
    border-radius: 30px;
    cursor: pointer;
}
.header .btn:hover{
    background-color:rgb(212, 212, 212);
}

/*//////////////////////////////////////////////////////////*/
/* CHAT SECTION */
.chat {
    display: none;
}
/* HEADER SECTION */
.chat header{
    background-color: rgba(175, 175, 175, 0.5);
    text-align: center;
}
.chat header .container{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 10px 0px ;
}
.chat header .container .exitBtn{
    border: none;
    font-weight: 600;
    font-size: 1rem;
    font-style: italic;
    padding: 8px 15px;
    background-color: transparent;
    color:white;
}
.chat header .container .exitBtn:hover{
  background-color: rgb(209, 0, 0);
  border-radius: 5px;
}
.chat header .container .exitBtn i{
    padding-left: 5px;
    color: white;
}


/* NAVBAR SECTION */
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
nav button{
    flex: 0 0 25%;
    border:none;
    background-color: rgb(125, 171, 255);
    color: rgb(255, 255, 255);
    padding:  10px;
    font-size: 1.5rem;
}
nav button:hover{
    background-color: rgb(71, 104, 255);
    border-radius: 0px 10px;
    cursor: pointer;
    transition: 0.6s ease;
}

/* MESSAGE SECTION */
.chat .ispis ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height:60vh;
    overflow-y:scroll;
    padding: 10px 20px 0px;
}
.chat .ispis ul li{
    background-color: rgb(226, 226, 226);
    border-radius: 0px 10px 10px;
    font-size: 1.2rem;
    padding: 15px 20px;
    margin-bottom: 10px;
}
.chat .ispis ul li p{
    padding-top: 10px;
    color: #888;
    font-size: 0.8rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.chat .ispis ul .user {
    align-self: flex-end;
    background-color: rgb(71, 104, 255);
    border-radius: 10px 0px 10px 10px;
    color: white;
}
ul .user p{
    display: flex;
    flex-direction: row-reverse ;
}
ul .user p span, ul .user p i{
    color: white;
}

/* NOTIFICATION SECTION */
.chat .ispis .changeUsername {
    display: flex;
    justify-content: flex-start;
}
.chat .ispis .changeUsername .notification {
    font-size: 1.2rem;
    background-color: #e9d946;
    padding: 15px 20px;
    border-radius: 10px 10px 10px 0px ;
    color: white;
    margin-bottom: 10px;
    margin-left:20px ;
}
/* FORM SECTION */
form{
    padding: 10px 0px;
    background-color: rgb(125, 171, 255);
}
#messageForm{
    border-top:2px solid rgba(120, 120, 201, 0.2);
}
form .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
::placeholder{
    color: white;
}
#colorForm,#setDate{
    display: none;
}
form input[type="text"], input[type="datetime-local"],input[type="color"],textarea {
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 5px 10px;
    flex:0 0 70%;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
form input[type="text"]:focus,input[type="datetime-local"]:focus,textarea:focus {
    border-radius: 0;
    outline: none;
    border-bottom: 2px solid rgb(71, 104, 255);
}
form input[type="submit"] {
    font-size: 1.2rem;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: rgba(71, 104, 255,0.5);
    color: white;
    flex:0 0 15%;
}
form input[type="submit"]:hover,#options:hover{
    background-color: #ece930;
}
#options{
    background-color: rgba(71, 104, 255,0.8);
    padding: 15px 10px;
    text-align: center;
    font-size: 1.3rem;
    color: white;
    font-weight: 600;
}
/* Style color picker */
#color {
    height: 8vh;
}
 #color::-webkit-color-swatch{
    height:5vh;
    border-radius: 5px;
    border: none;
} 
 #color::-moz-color-swatch{
    border-radius: 5px;
    border: none;
} 
/*Remove calendar icon*/
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}